<!DOCTYPE html>
<html>
	<%- include("../_partials/head") %>
	<body>
		<%- include("../_partials/nav") %>

		<main class="container">
			<article class="row">
				<section class="col-md-9 col-sm-12">
					<h1>Project Tracker <a target="_blank" href="https://raw.githubusercontent.com/Akiraff2015/project-tracker/master/projectTracker.json"><button class="btn btn-xs btn-primary">View JSON</button></a></h1>
					<p><i class="fab fa-github"></i><a class="margin-left-5px" target="_blank" href="https://github.com/Akiraff2015/project-tracker">View source</a></p>
					
					<h3>Things to be done</h3>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Task</th>
								<th>Description</th>
								<th>Completed</th>
							</tr>
						</thead>
						<tbody>
							<% for(let i = 0; i < projects.length; i++) { %>
								<tr>
									<td><%= projects[i].title %></td>
									<td>
										<%= projects[i].description %>
										<% if (projects[i].subTask != null) { %>
											<ul>
												<% for(let j = 0; j < projects[i].subTask.length; j++) { %>
													<li><%= projects[i].subTask[j] %> </li>
												<% } %>
											</ul>
										<% } %>
									</td>
									<td><%= projects[i].completed %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
					<div>
						<h3>Bugs to be fixed</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Bug</th>
									<th>Description</th>
									<th>Fixed</th>
								</tr>
							</thead>

							<tbody>
								<% for(let i = 0; i < bugs.length; i++) { %>
									<tr>
										<td><%= bugs[i].title %> <span class="badge"><%= bugs[i].type %></span></td>
										<td><%= bugs[i].description %></td>
										<td><%= bugs[i].fixed %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>

					<% for(let i = 0; i < progress.length; i++) { %>
						<div>
							<h3><%= progress[i].title %></h3>
							<h4><i class="far fa-clock"></i> <%= progress[i].date %></h4>
							<p><%= progress[i].content %></p>
						</div>
					<% } %>
				</section>
				<aside class="col-md-3 col-sm-12">
					<%- include("../_partials/sidebar") %>
				</aside>
			</article>
		</main>
		<%- include('../_partials/footer') %>
	</body>
</html>